{% extends '../base/base.html' %}
{% block title %}
  Student Details
{% endblock title %}

{% block content %}
    <div class="card bg-transparent mt-3 mb-3">
        <div class="row card-body d-flex justify-content-center">
            <div class="col-sm-10 col-lg-6">
                 <h6 class="h6 mt-1">Student Information</h6>
                 <hr class="mb-3">
                 <p class="card-text">
                    <i style="margin-right: 5px;">Student Number</i>
                    <b style="margin-left: 5px;">{{ student.student_number }}</b>
                  </p>
                  <p class="card-text">
                    <i style="margin-right: 5px;">First Name</i>
                    <b style="margin-left: 5px;">{{ student.first_name }}</b>
                  </p>
                  <p class="card-text">
                    <i style="margin-right: 5px;">Last Name</i>
                    <b style="margin-left: 5px;">{{ student.last_name }}</b>
                  </p>
                  <p class="card-text">
                    <i style="margin-right: 5px;">Date Of Birth</i>
                    <b style="margin-left: 5px;">{{ student.birth_date }}</b>
                  </p>
                  <p class="card-text">
                    <i style="margin-right: 5px;">Address</i>
                    <b style="margin-left: 5px;">{{ student.address }}</b>
                  </p>
                  <p class="card-text">
                    <i style="margin-right: 5px;">Class</i>
                    <b style="margin-left: 5px;">{{ student.current_class }}</b>
                  </p>
                  <p class="card-text">
                    <i style="margin-right: 5px;">Term</i>
                    <b style="margin-left: 5px;">{{ student.current_term }}</b>
                  </p>
                  <p class="card-text">
                    <i style="margin-right: 5px;">Home Phone</i>
                    <b style="margin-left: 5px;">{{ student.phone }}</b>
                  </p>
            </div>
             
            <hr class="mb-3 mt-3 bg-success d-lg-none" />

            <div class="col-sm-10 col-lg-6">
                <h6 class="h6 mt-1">Guardian Information</h6>
                <hr class="mb-3">

                  <p class="card-text">
                    <i style="margin-right: 5px;">First Name</i>
                    <b style="margin-left: 5px;">{{ student.guardian_first }}</b>
                  </p>
                  <p class="card-text">
                    <i style="margin-right: 5px;">Last Name</i>
                    <b style="margin-left: 5px;">{{ student.guardian_last }}</b>
                  </p>
                  <p class="card-text">
                    <i style="margin-right: 5px;">Relationship</i>
                    <b style="margin-left: 5px;">{{ student.relationship }}</b>
                  </p>
                  <p class="card-text">
                    <i style="margin-right: 5px;">Occupation</i>
                    <b style="margin-left: 5px;">{{ student.guardian_occupation }}</b>
                  </p>
                  <p class="card-text">
                    <i style="margin-right: 5px;">Telephone</i>
                    <b style="margin-left: 5px;">{{ student.guardian_phone }}</b>
                  </p>
                  <p class="card-text">
                    <i style="margin-right: 5px;">Email</i>
                    <b style="margin-left: 5px;">{{  student.guardian_email }}</b>
                  </p>
                  <p class="card-text">
                    <i style="margin-right: 5px;">Address</i>
                    <b style="margin-left: 5px;">{{ student.guardian_address }}</b>
                  </p>
            </div>
          
        </div>
        <div class="card-footer d-flex justify-content-center bg-transparent">
            <a href="{% url 'student:student-delete' student.id %}" role="button" class="btn btn-danger mx-1">DELETE</a>
            <a href="{% url 'student:student-update' student.id %}" role="button" class="btn btn-success mx-1">UPDATE</a>

        </div>
    </div>
{% endblock content%}
