{% extends '../base/base.html' %}

{% block title %}
  Students List
{% endblock %}

{% block content %}
  <div class="row mt-5 d-flex justify-content-center">
    {% comment %} <div class="col-12 col-lg-3 my-3 border shadow py-3">
      <form class="form" method="get">
        {{ students.form.as_p }}
        <button type="search" class="btn btn-success w-100 mb-2">Search</button>
      </form>
      
    </div>
     {% endcomment %}
    <div class="col-12 col-lg-12 shadow">
      <div class="col-sm-6 col-lg-12">
        <form class="form" method="get">
          {{ students.form.as_table }}
          <button type="search" class="btn btn-success mb-2">Search</button>
        </form>
      </div>
      <div class="col">
      <a href="{% url 'student:student-create' %}" class="btn btn-success btn-sm mt-2 mb-2 float-end" role="button">NEW STUDENT</a>
        {% if students.qs %}
      <table class="table table-striped border table-hover">
        <thead class="bg-success">
          <tr>
            <th scope="col" class="text-light">First Name</th>
            <th scope="col" class="text-light">Last Name</th>
            <th scope="col" class="text-light">Class</th>
            <th scope="col" class="text-light">Option</th>
          </tr>
        </thead>
        <tbody>
      {% for student in students.qs %}
      <tr>
        <td>{{student.first_name}}</td>
        <td>{{student.last_name}}</td>
        <td>{{student.current_class}}</td>

        <td>
          <div class="d-flex flex-row gx-1">
            <a href="{% url 'student:student-profile' student.id %}" class="button mx-1" role="button">
              <span data-feather="eye"></span>
            </a>
            <a href="{% url 'student:student-update' student.id %}" class="button mx-1" role="button">
              <span data-feather="edit"></span>
            </a>
            <a href="{% url 'student:student-delete' student.id %}" class="button mx-1" role="button">
              <span data-feather="trash-2" style="color: red;"></span>
            </a>
          </div>
          
        </td>
      </tr>
        
      {% endfor %}
     </tbody>
    </table>
    {% else %}     
 
    <strong>No results found</strong>
    {% endif %}  
      </div>
  
         
  </div>
     
{% endblock %}
