
settings.py
manage.py
db.sqlite3
*.pyc
media/
static/
static/CACHE 
venv
*env
core/settings.py
.vscode/
account/migrations/
common/migrations/
employee/migrations/
payment/migrations/
student/migrations/


